h1 {
    font-family: "Verdana", sans-serif;
}

td.red_stripe{
    background-color: red;
      height: 35px;

}
td.white_stripe{
    background-color: white;
    height: 35px;
}
#flag{
    width: 1000px;
}
td#starcell
{
  background-color: blue;
  width: 350px;
}
#stars
{
  padding: 1em;
  color: white;
  text-align: center;
  font-size: large;
  width: 350px;
}
table#flag
{
  border-spacing: 0px;
}
