span {
  background-color: yellow;
  color: black;
}

body {
    background-color: lightgray;
}

p {
    font-family: "Verdana", sans-serif;
}

h1 {
    font-family: "Verdana", sans-serif;
}

b {
    font-family: "Verdana", sans-serif;
}

span {
    font-family: "Verdana", sans-serif;
}