/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

span {
  background-color: yellow;
  color: black;
}

body {
    background-color: lightgray;
}

p {
    font-family: "Verdana", sans-serif;
}

h1 {
    font-family: "Verdana", sans-serif;
}

h2 {
    font-family: "Verdana", sans-serif;
}

h3 {
    font-family: "Verdana", sans-serif;
}

li {
    font-family: "Verdana", sans-serif;
}

span {
    font-family: "Verdana", sans-serif;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}