body {
  background-color: goldenrod;
}

.container {
  background-color: black;
  border: 10px solid #4b2e83;
  width: 1300px;
}

.panel {
  margin: 20px auto;
  width: 250px;
}

#uw {
  background-color: #4b2e83;
  color: white;
}

#uw-gold {
  background-color: #b7a57a;
  color: #4b2e83;
}

h3 {
  text-align: center;
}

h1.title {
  text-align: center;
  color: white;
}

li.list-group-item {
  text-align: center;
}