.container {
  background-color: gold;
  border: 10px solid #4b2e83;
  width: 500px;
}

.panel {
  margin: 20px auto;
  width: 400px;
}

h3.panel-title {
  text-align: center;
}

#selected {
  background-color: #4b2e83;
  color: white;
}

#deselected {
  background-color: #b7a57a;
  color: #4b2e83;
}