
$body--BackgroundColor: #ececec;
$slideshow__slide--Border: 6px solid #5E5E5E;
$slideshow__nav_link--Color: #5E5E5E;
$slideshow__nav_link--hover--Color: darken(#5E5E5E, 15%);
body{
  background-color: $body--BackgroundColor;
}
a{
  text-decoration: none;
}
.container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
  margin-top: -150px;
}
.slideshow__slides{
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0px auto;
  text-align: center;
}
.slideshow__slide {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  //border: 4px solid #fff;
  border: $slideshow__slide--Border;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
.slideshow__overlay {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 4px solid #fff;
  overflow: hidden;
}
.slideshow__overlay--is--shadow {
  box-shadow: inset 0px 0px 10px #000;
  opacity: 0.6;
}
.slideshow__overlay--is-highlight {
  background: -webkit-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -moz-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  background: -ms-radial-gradient(30% 30%, closest-corner, #fff, #2F2727);
  opacity: 0.4;
}
.slideshow__slide--is-active{
  opacity: 1;
}

.slideshow__slide img.horizontal{
  max-height: 100%;
  width: auto;
}
.slideshow__slide img.vertical{
  max-width: 100%;
  height: auto;
}
.slideshow__nav{
  width: 500px;
  margin: -175px auto 0 auto;
  padding: 10px;
  text-align: center;
  overflow: auto;
}
.slideshow__nav_link {
  padding: 0px 5px;
  color: $slideshow__nav_link--Color;
  font-size: 1.5rem;
  transition: color 0.25s linear;
}
.slideshow__nav_link:hover{
  color: $slideshow__nav_link--hover--Color;
}
.slideshow__nav_link--is-previous{
  float: left;
}
.slideshow__nav_link--is-next{
  float: right;
}

